<section id="foresight-partners" style="background: url( {{ function('customize_theme_mod', 'foresight_partners_background' ) }} ) top center no-repeat;">
	<div id="container-foresight-partners" class="container container-foresight-partners">
		<div class="row row-foresight-partners">
			<div class="col-md-6 content-foresight-partners">
				<h2 id="foresight-partners-first-title" class="foresight-partners-title">
					{{ foresight_partner_first_page.post_title }}
				</h2>
				<hr class="foresight-partners-hr">
				{{ foresight_partner_first_page.post_content }}
			</div>
			<div class="col-md-6 content-foresight-partners">
				<h2 id="foresight-partners-second-title" class="foresight-partners-title">
					{{ foresight_partner_second_page.post_title }}
				</h2>
				<hr class="foresight-partners-hr">
				{{ foresight_partner_second_page.post_content }}
			</div>
		</div>
	</div>
</section>
