<section id="foresight-members">
	<div class="foresight-members-img-background"
		 style="background: url( {{ function('customize_theme_mod', 'foresight-members-background' ) }} ) no-repeat;"></div>
	<div class="container foresight-members-container">
		<div class="row foresight-members-row">
			<div class="col-md-8 foresight-members-image">
				<img id="img-members" src="{{ function('customize_theme_mod', 'foresight-members-image' ) }}"
					 alt="{{ function('customize_theme_mod', 'foresight-members-title' ) }}">
			</div>
			<div class="col-md-4 foresight-members-info">
				<h2 id="foresight-members-title">{{ function('customize_theme_mod', 'foresight-members-title' ) }}</h2>
				<hr>
				<p>
					{{ function('customize_theme_mod', 'foresight-members-info' ) }}
				</p>
			</div>
		</div>
	</div>
</section>
